section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 40%;
  color: #333;
}

#logo-completa{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 40vh;
  height: 30vh;
}
#logo-completa-img{
  margin-left: 50%;
}
#login{
  margin-top: 2.5%;
  justify-content: center;
  flex-direction: row;
  text-align: center
}
#passowrd{
  margin-top: 3vh;
}
#name{
  margin-top: 3vh;
}
#confimedPassowrd{
  margin-top: 3vh;
}
#enviar-login{
  font-size: 30px;
  margin: 7vh 0 0vh 0;
  color: white;
  background-color: #32A4E6;
  width: 100%;
  height: 7vh;
  border: 2px solid  #0000;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.input-login{
  width: 80%;
  margin: 0;
  border: 0.5px solid;
  border-radius: 5px;
  height: 7vh;
  margin: auto
}
v-row{
  align-items: center;
  margin: 0;
}
v-col{
  margin: 0;
}
label{
  font-size: 150%;
}

section h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

section .tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

section .tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

section .tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

section .tip-wrapper svg path {
  fill: #1ea7fd;
}
